@{
    ViewBag.Title = "Home Page";
}
<link href="~/Assets/CSS/home.css" rel="stylesheet" />
<main class="main-container">
    <div class="first-section">
        <div class="container section1-container">
            <div class="text-container">
                <h2 class="header-text">Khám phá phong thủy</h2>
                <p class="content-text">Khám phá bí mật phong thủy để cân bằng cuộc sống, thu hút tài lộc và mang lại bình an cho bạn và gia đình bạn</p>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0; z-index:12">
        <button class="navbar-toggler" style="margin-left: 5px;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="nav navbar-nav justify-content-center" style="width: 100%">
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#">Sự nghiệp</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#">Phong Thủy</a>
                </li>
                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>*@
            </ul>
        </div>
    </div>
    <div class="second-section">
        <div class="image-fixed">
            <img src="~/Assets/Images/section2-first.jpg" id="side-image" class="image-section2" />
        </div>
        <div class="second2-container">
            <div class="section2-header-container">
                <h2 class="section2-header">
                    Giới thiệu
                </h2>
                <h4 class="section2-sub-header">
                    Một chuyên gia đào tạo và coaching doanh nghiệp. Đồng thời cũng là một bậc thầy về phong thủy
                </h4>

                <div class="separate-line"></div>
            </div>
            <div class="section2-content-container">
                <div class="image-content-container">
                    <img src="~/Assets/Images/mrdavis.png" class="image-section2" />
                </div>
                <div class="section2-text-container">
                    <div class="section2-subname-text">
                        Người hướng dẫn phong thủy
                    </div>
                    <div class="section2-name-text">
                        Thầy <span class="name">Nguyễn Đăng Khoa</span>
                    </div>
                    <p class="section2-des-text">
                        Sinh trưởng trong gia đình có “truyền thống nhiều đời làm nhà giáo". Các thành viên trong gia tộc hiện đang giảng dạy ở các trường Đại học và Trung học.. trong nước và thế giới. Ngoài ra gia đình của Thầy cũng có nhiều đời trong phong thủy nên Thầy có rất nhiều kinh nghiệm phong thủy trong nhiều lĩnh vực khác nhau.
                    </p>
                </div>
            </div>

            <div class="dot-separate">
            </div>

            <div class="section2-header-container">
                <h2 class="section2-header" style="padding-bottom: 45px;">
                    Sự nghiệp
                </h2>

                <div class="separate-line"></div>
            </div>

            <div class="row">
                <div class="section2-career-subhead col-lg-3">
                    <span class="career-box">Kinh nghiệm và trình độ</span>
                </div>

                <div class="section2-text-container col-lg-9">
                    <p class="section2-des-text" style="margin-top: 0;">
                        Do có hơn 30 năm kinh nghiệm thực tiễn qua các vị trí lãnh đạo & điều hành trong các lĩnh vực “Kinh tế - tài chính - Đầu tư - Lập chiến lược ..”
                        đã từng đảm nhận nhiều chức vụ:
                    </p>
                    <ul class="list-item">
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Phó Tổng Giám đốc</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Giám đốc điều hành</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Giám đốc tài chính</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Trợ lý chủ tịch Hội đồng Quản trị</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Kế toán trưởng..</li>
                    </ul>
                    <p class="section2-des-text" style="margin-top: 0;">
                        Của nhiều công ty và tập đoàn lớn trong nước & liên doanh, chuyên phụ trách các lĩnh về Đầu tư, Kinh doanh thương mại, Tài chính - Quản trị..
                        cũng như tư vấn và thiết lập chiến lược cho các dự án lớn thông qua đó giúp cho DN đào tạo bồi dưỡng nhân tài tạo nên “các chiến binh" trong công việc để xây dựng & tái cấu trúc DN
                        thành công. Tạo dựng 1 nền tản vững chắc trong công tác giảng dạy-tu vấn & đào tạo giúp các DN trong việc tìm ra “một mô hình giải pháp mới, hiện đại cho sự phát triển" trong thị trường cạnh tranh khốc liệt hiện nay của riêng mình.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 25px">
                <div class="section2-career-subhead col-lg-3">
                    <span class="career-box">Sản phẩm làm nên giá trị</span>
                </div>

                <div class="section2-text-container col-lg-9">
                    <ul class="list-item">
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Hoạch định Kế hoạch Kinh doanh với tư duy chiến lược thời đại 4.0</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Tài chính kế toán-Tài chính quản trị</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Quản trị điều hành doanh nghiệp theo model tiên tiến</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Quản trị “khởi nghiệp” & đối phó “khủng hoảng khi tái cấu trúc doanh nghiệp"</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Quản trị dự án quản trị nguồn nhân lực</li>
                    </ul>
                </div>
            </div>

            <div class="dot-separate">
            </div>

            <div class="section2-header-container">
                <h2 class="section2-header" style="padding-bottom: 45px;">
                    Phong thủy
                </h2>

                <div class="separate-line"></div>
            </div>

            <div class="section2-content-container">
                <div class="image-content-container">
                    <img src="~/Assets/Images/section2-fengshuidefi.jpg" class="image-section2" />
                </div>
                <div class="section2-text-container">
                    @*<div class="section2-subname-text">
                            Người hướng dẫn phong thủy
                        </div>*@
                    <div class="section2-name-text">
                        <span class="name">Phong thủy là gì?</span>
                    </div>
                    <p class="section2-des-text">
                        Phong thủy (風水) là một học thuyết cổ xưa có nguồn gốc từ Trung Quốc, nghiên cứu sự ảnh hưởng của các yếu tố tự nhiên như gió (風 - phong) và nước (水 - thủy) đến đời sống con người. Phong thủy tập trung vào việc sắp xếp không gian sống, làm việc sao cho hài hòa với môi trường tự nhiên, từ đó thu hút năng lượng tốt (khí) và hạn chế những tác động tiêu cực
                    </p>
                </div>
            </div>
            <div class="dot-separate">
            </div>
        </div>
    </div>
    <div class="container third-section">
        <h2 class="section3-header">Kiến thức phong thủy</h2>
        <h4 class="section3-sub-header">Những kiến thức phong thủy dùng trong các lĩnh vực khác nhau, từ đó có thể áp dụng và thực hành trong cuộc sống</h4>
        <div class="row">
            <div class="col-lg-8 bg-danger">

            </div>
            <div class="col-lg-4 bg-primary">

            </div>

        </div>
    </div>
    @*<section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </section>

        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>*@
</main>
