@{
    ViewBag.Title = "Home Page";
}
<link href="~/Assets/CSS/home.css" rel="stylesheet" />
<main class="main-container">
    <div class="first-section">
        <div class="container section1-container">
            <div class="text-container">
                <h2 class="header-text">Khám phá phong thủy</h2>
                <p class="content-text">Khám phá bí mật phong thủy để cân bằng cuộc sống, thu hút tài lộc và mang lại bình an cho bạn và gia đình bạn</p>
            </div>
        </div>
    </div>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" style="padding: 0; z-index:12">
        <button class="navbar-toggler" style="margin-left: 5px;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="nav navbar-nav justify-content-center" style="width: 100%">
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav " href="#gioithieu">Giới thiệu</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#sunghiep">Sự nghiệp</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#phongthuy">Phong Thủy</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#kienthuc">Kiến Thức Phong Thủy</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link text-nav" href="#lienhe">Liên hệ</a>
                </li>

                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>*@
            </ul>
        </div>
    </div>
    <div class="second-section" id="part1">
        <div class="image-container">
            <div class="image-fixed">
                <img src="~/Assets/Images/section2-first.jpg" id="side-image" class="image-section2" />
            </div>
        </div>
        <div class="second2-container">
            <div class="section2-header-container" id="gioithieu">
                <h2 class="section2-header" >
                    Giới thiệu
                </h2>
                <h4 class="section2-sub-header">
                    Một chuyên gia đào tạo và coaching doanh nghiệp. Đồng thời cũng là một bậc thầy về phong thủy
                </h4>

                <div class="separate-line"></div>
            </div>
            <div class="section2-content-container">
                <div class="image-content-container">
                    <img src="~/Assets/Images/mrdavis.png" class="image-section2" />
                </div>
                <div class="section2-text-container">
                    <div class="section2-subname-text">
                        Người hướng dẫn phong thủy
                    </div>
                    <div class="section2-name-text">
                        Thầy <span class="name">Nguyễn Đăng Khoa</span>
                    </div>
                    <p class="section2-des-text">
                        Sinh trưởng trong gia đình có “truyền thống nhiều đời làm nhà giáo". Các thành viên trong gia tộc hiện đang giảng dạy ở các trường Đại học và Trung học.. trong nước và thế giới. Ngoài ra gia đình của Thầy cũng có nhiều đời trong phong thủy nên Thầy có rất nhiều kinh nghiệm phong thủy trong nhiều lĩnh vực khác nhau.
                    </p>
                </div>
            </div>

            <div id="part2" class="dot-separate">
            </div>

            <div class="section2-header-container" id="sunghiep">
                <h2 class="section2-header" style="padding-bottom: 45px;">
                    Sự nghiệp
                </h2>

                <div class="separate-line"></div>
            </div>

            <div class="row">
                <div class="section2-career-subhead col-lg-3">
                    <p class="career-box">Kinh nghiệm và trình độ</p>
                </div>

                <div class="section2-text-container col-lg-9">
                    <p class="section2-des-text" style="margin-top: 0;">
                        Do có hơn 30 năm kinh nghiệm thực tiễn qua các vị trí lãnh đạo & điều hành trong các lĩnh vực “Kinh tế - tài chính - Đầu tư - Lập chiến lược ..”
                        đã từng đảm nhận nhiều chức vụ:
                    </p>
                    <ul class="list-item">
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Phó Tổng Giám đốc</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Giám đốc điều hành</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Giám đốc tài chính</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Trợ lý chủ tịch Hội đồng Quản trị</li>
                        <li><i class="fa-solid fa-briefcase icon-list"></i> Kế toán trưởng..</li>
                    </ul>
                    <p class="section2-des-text" style="margin-top: 0;">
                        Của nhiều công ty và tập đoàn lớn trong nước & liên doanh, chuyên phụ trách các lĩnh về Đầu tư, Kinh doanh thương mại, Tài chính - Quản trị..
                        cũng như tư vấn và thiết lập chiến lược cho các dự án lớn thông qua đó giúp cho DN đào tạo bồi dưỡng nhân tài tạo nên “các chiến binh" trong công việc để xây dựng & tái cấu trúc DN
                        thành công. Tạo dựng 1 nền tản vững chắc trong công tác giảng dạy-tu vấn & đào tạo giúp các DN trong việc tìm ra “một mô hình giải pháp mới, hiện đại cho sự phát triển" trong thị trường cạnh tranh khốc liệt hiện nay của riêng mình.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 25px">
                <div class="section2-career-subhead col-lg-3">
                    <p class="career-box">Sản phẩm làm nên giá trị</p>
                </div>

                <div class="section2-text-container col-lg-9">
                    <ul class="list-item">
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Hoạch định Kế hoạch Kinh doanh với tư duy chiến lược thời đại 4.0</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Tài chính kế toán-Tài chính quản trị</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Quản trị điều hành doanh nghiệp theo model tiên tiến</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Quản trị “khởi nghiệp” & đối phó “khủng hoảng khi tái cấu trúc doanh nghiệp"</li>
                        <li><i class="fa-solid fa-bookmark icon-list"></i> Quản trị dự án quản trị nguồn nhân lực</li>
                    </ul>
                </div>
            </div>

            <div id="part3" class="dot-separate">
            </div>

            <div class="section2-header-container" id="phongthuy">
                <h2 class="section2-header" style="padding-bottom: 45px;">
                    Phong thủy
                </h2>

                <div class="separate-line"></div>
            </div>

            <div class="section2-content-container">
                <div class="image-content-container">
                    <img src="~/Assets/Images/section2-fengshuidefi.jpg" class="image-section2" />
                </div>
                <div class="section2-text-container">
                    @*<div class="section2-subname-text">
                            Người hướng dẫn phong thủy
                        </div>*@
                    <div class="section2-name-text">
                        <span class="name">Phong thủy là gì?</span>
                    </div>
                    <p class="section2-des-text">
                        Phong thủy (風水) là một học thuyết cổ xưa có nguồn gốc từ Trung Quốc, nghiên cứu sự ảnh hưởng của các yếu tố tự nhiên như gió (風 - phong) và nước (水 - thủy) đến đời sống con người. Phong thủy tập trung vào việc sắp xếp không gian sống, làm việc sao cho hài hòa với môi trường tự nhiên, từ đó thu hút năng lượng tốt (khí) và hạn chế những tác động tiêu cực
                    </p>
                </div>
            </div>
            <div id="last-section" class="dot-separate">
            </div>
        </div>
    </div>
    <div class="container third-section" id="kienthuc">
        <h2 class="section3-header">Kiến thức phong thủy</h2>
        <h4 class="section3-sub-header">Những kiến thức phong thủy dùng trong các lĩnh vực khác nhau, từ đó có thể áp dụng và thực hành trong cuộc sống</h4>
        <div class="row w-100">
            <div class="col-lg-4 d-flex flex-column">
                <div data-index="0" class="section3-box-choice box-click">
                    Phong Thủy Nhà Ở
                </div>
                <div data-index="1" class="section3-box-choice box-click">
                    Phong Thủy Văn Phòng & Kinh Doanh
                </div>
                <div data-index="2" class="section3-box-choice box-click">
                    Phong Thủy Bàn Làm Việc
                </div>
                <div data-index="3" class="section3-box-choice box-click">
                    Phong Thủy Sức Khỏe
                </div>
                <div data-index="4" class="section3-box-choice box-click">
                    Phong Thủy Tình Duyên & Hôn Nhân
                </div>
            </div>
            <div class="col-lg-8">
                <div class="section3-box" id="knowledge-container" data-index="0">
                    <h3 id="header-knowlegde" class="section3-box-title p-5">Phong Thủy Nhà Ở</h3>
                    <p id="header-description" class="section3-box-text pe-5 ps-5 pb-5"> Phong thủy nhà ở giúp tạo ra không gian sống hài hòa, thu hút tài lộc và cải thiện sức khỏe gia đình. Các yếu tố quan trọng gồm hướng nhà, bố trí nội thất, màu sắc và vật phẩm phong thủy.</p>
                    <div class="w-100 pe-5 ps-5 pb-5 d-flex justify-content-center">
                        <img id="header-img" src="~/Assets/Images/section3-1.jpg" class="section3-box-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container forth-section" id="part5">
        <div class="section4-box">
            <p class="section4-text">Bạn có hứng thú với phong thủy? Hãy liên hệ ngay với chúng tôi</p>
            <button class="section4-button">
                Kết nối ngay
            </button>
        </div>
    </div>

    <div class="container fifth-section" id="lienhe">
        <div class="row justify-content-around">
            <div class="col-lg-3 card-item">
                <i class="fa-solid fa-phone-volume card-icon"></i>
                <h3 class="card-item-header">Hotline</h3>
                <p class="card-item-text">Sẵn sàng lắng nghe và hỗ trợ mọi khi bạn cần</p>
                <p class="card-item-text">0798680121</p>
            </div>
            <div class="col-lg-3 card-item">
                <i class="fa-solid fa-map-location-dot card-icon"></i>
                <h3 class="card-item-header">Địa chỉ</h3>
                <p class="card-item-text">88 Nguyễn Văn Quỳ, Phú thuận, Quận 7, Thành phố Hồ Chí Minh</p>
                <p class="card-item-text"></p>
            </div>
            <div class="col-lg-3 card-item">
                <i class="fa-solid fa-envelope-circle-check card-icon"></i>
                <h3 class="card-item-header">Thứ 2 - Thứ 7</h3>
                <p class="card-item-text"> Tôi luôn sẵn sàng lắng nghe và hỗ trợ</p>
                <p class="card-item-text">nhatdo@gmail.com</p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-around">
                <div class="col-lg-6">
                    <input type="text" class="form-control input-register" style="max-width:unset" id="exampleFormControlInput1" placeholder="Họ và tên">
                </div>
                <div class="col-lg-6 mt-3">
                    <input type="text" class="form-control input-register" style="max-width:unset" id="exampleFormControlInput1" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="mt-3">
                <input type="email" class="form-control input-register" style="max-width:unset" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mt-3">
                <textarea class="form-control textarea-register" id="exampleFormControlTextarea1" style="max-width: unset" placeholder="Hãy để lại lời nhắn cho chúng tôi" rows="3"></textarea>
            </div>
            <div class="mt-3 row justify-content-center">
                <button class="btn-register">
                    Đăng ký
                </button>
            </div>
        </div>
    </div>
</main>
