.main-container{
    min-height: 100vh;
    width: 100%;
    height: fit-content;
}

.first-section {
    background: url("../Images/section1-background6.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

.first-section::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index:2;
}

.item-nav {
    font-size: 2.0rem;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    width: fit-content;
    height: fit-content;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Để ẩn phần nền tràn ra ngoài */
    transition: color 0.3s ease-in-out;
}

    .item-nav::before,
    .item-nav::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: red;
        z-index: -1;
        transform: scaleX(0); /* Ẩn ban đầu */
        transition: transform 0.4s ease-in-out;
    }

    /* Trái */
    .item-nav::before {
        left: 0;
        transform-origin: left;
    }

    /* Phải */
    .item-nav::after {
        right: 0;
        transform-origin: right;
    }

    /* Khi active, hai ô vuông mở ra từ hai bên */
    .item-nav.active>a {
        color: yellow !important;
    }

        .item-nav.active::before,
        .item-nav.active::after {
            transform: scaleX(1); /* Hiện ra dần */
        }

.section1-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 3;
}

.text-container {
    text-align: end;
    padding-right: 15px;
    border-right: 1px solid var(--sub-header-color);
}

.content-text {
    font-size: 3.2rem;
    color: var(--text-color);
}

.header-text {
    font-size: 6.4rem;
    color: var(--header-color);
    margin-bottom: 10px;
}

.second-section{
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 30%;
    position: relative;
}

.image-fixed{
    width:100%;
    height: 100vh;
}

.section2-header-container {
    margin: 55px;
}

.section2-header {
    font-size: 3.8rem;
    color: var(--header-color);
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
}
.section2-sub-header {
    font-size: 2.4rem;
    color: var(--text-color);
    padding-bottom: 45px;
}

.separate-line {
    width: 20%;
    height: 5px;
    background-color: var(--border-color);
}

.image-section2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.make-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 10;
}

.section2-content-container {
    width: 100%;
    margin: 55px;
    display: flex;
    flex-direction: row;
}

.image-content-container {
    width: 30%;
    height: 450px;
}

.second2-container{
    width: 70%;
}

.section2-text-container {
    width: 50%;
    margin-left: 30px;
    height: fit-content;
}

.section2-subname-text {
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 30px;
    opacity:0.8;
}

.section2-name-text {
    font-size: 3.6rem;
    color: var(--text-color);
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.section2-des-text {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-top: 25px;
}

.section2-des-text-no-margin {
    font-size: 2.4rem;
    color: var(--text-color);
}

.name {
    background-color: var(--sub-header-color);
    padding: 10px;
    border-radius: 5px;
    color: black;
    
}

.dot-separate {
    border: 2px dashed var(--border-color);
    opacity: 0.8;
    margin: 55px;
    width: 50%;
}


/*.dot-separate::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: var(--border-color);
        border-radius: 50%;
        position: absolute;
        right: 0;
        top:0;

    }*/


.section2-career-subhead {
    position: relative;
    margin-left: 55px;
    font-size: 2.4rem;
    font-weight: bold;
    align-items: center;
}

.align-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.image-container-section2 {
    width: 34%;
    height: 460px;
}

.image-container-section2-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container-section2-box {
    margin-left: 55px;
    margin-right: 10px;
}

.career-box {
    background-color: var(--sub-header-color);
    padding: 10px;
    border: 1px solid var(--sub-header-color);
    border-radius: 10px;
    text-align: center;
}

.list-item {
    font-size: 2.4rem;
    list-style-type: none;
    color: var(--text-color);
}

.icon-list {
    color: red;
    padding-right: 5px;
}

/*sửa*/
.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px;
    text-align: center;
}

/*sửa*/
.section3-header {
    font-size: 4.8rem;
    color: var(--header-color);
    padding-bottom: 20px;
    font-weight: bold;
}

/*sửa*/
.section3-sub-header {
    font-size: 2.4rem;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.background-around{
    background-color: black;
    padding: 0px 10px;
    border-radius: 5px;
}

.stop-image {
    position: absolute;
    top: auto; /* Không cố định top */
    bottom: 55px; /* Để tránh mất layout */
    right: 0;
    height: 100vh;
}

/*sửa*/
.section3-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: 2px dashed var(--sub-header-color);
    border-radius: 10px;
    padding: 30px;
}

.section3-box-title {
    font-size: 3.2rem;
    color: var(--text-color);
    font-weight: bolder;
}

/*sửa*/
.section3-box-text {
    font-size: 2.4rem;
    color: var(--text-color);
    max-width: 800px;
    text-align: center;
}

/*sửa*/
.section3-box-img {
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/*sửa*/
.section3-box-choice {
    width: 100%;
    border: 2px solid var(--sub-header-color);
    padding: 15px;
    text-align: center;
    font-size: 2.8rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    .section3-box-choice:hover {
        animation: borderTransition 0.2s forwards;
        color: white;
    }

.second-last-section{

}
/* Keyframe animation chuyển border từ solid sang dashed */
@keyframes borderTransition {
    0% {
        border-style: solid;
        border-color: var(--sub-header-color);
    }

    50% {
        border-style: solid;
        border-color: white;
    }

    100% {
        border-style: dashed;
        border-color: white;
    }
}

    .section3-box-choice.active {
        background: var(--sub-header-color);
        color: white;
        border-style: dashed;
    }

/*sửa*/
.section4-box {
    display: flex;
    margin-top: 20px;
    background-color: orangered;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap; /* Đảm bảo không bị vỡ layout trên màn hình nhỏ */
}

/*sửa*/
.section4-text {
    margin: 0;
    font-style: italic;
    padding-left: 15px;
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: bolder;
    flex: 1;
    min-width: 250px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*sửa*/
.section4-button {
    padding: 10px 20px;
    font-style: italic;
    background-color: var(--sub-card-color);
    color: var(--text-color);
    font-size: 1.8rem;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
    animation: pulse 1.2s infinite; /* Áp dụng hiệu ứng nhấp nháy */
}

/*sửa*/
.card-item {
    height: auto;
    background-color: var(--card-item-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.forth-section{
    margin-top: 15px;
}

.fifth-section {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-icon{
    font-size: 3.8rem;
    padding-bottom: 10px;
}

.card-item-header {
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 10px;
}

.card-item-text {
    text-align: center;
    font-size: 1.8rem;
    padding: 0 10px;
}

/*sửa*/
.input-register,
.textarea-register {
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    padding: 15px;
    border-radius: 5px;
}

/* Textarea */
.textarea-register {
    height: 100px;
}

.btn-register {
    color: var(--text-color);
    width: fit-content;
    font-size: 2.0rem;
    padding: 1.0rem 2.4rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--sub-header-color);
    transition: all 0.3s;
}
    .btn-register:hover {
        background-color: transparent;
        color: var(--sub-header-color);
        border: 1px solid var(--sub-header-color);
        opacity: 0.8;
    }

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background: rgba(255, 255, 255, 0.9);*/ /* Nền hơi trong suốt */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.benefit-container{
    width: 40%;
    height: fit-content;
}

.benefit-container-column{
    flex-direction: column !important;
}

.benefit-name-text {
    font-size: 2.6rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    
}

.margin-top-benefit{
    margin-top: 55px;
}

.box-background {
    background-color: black;
    padding: 10px;
    border-radius: 5px
}

.dot-separate-last {
    border: 2px dashed var(--border-color);
    opacity: 0.8;
    margin: 55px 0px;
    width: 100%;
}
/* Tablet (768px - 991px) */
@media (max-width: 991.98px) {
    

    .text-container {
        text-align: center;
        border-right: none;
        border-bottom: 1px solid var(--sub-header-color);
        padding-bottom: 10px;
    }

    .header-text {
        font-size: 5rem;
    }

    .content-text {
        font-size: 2.5rem;
    }

    .image-container {
        display: none;
    }

    .second-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .second2-container {
        width: 100%;
        max-width: 90%;
    }

    .section2-header-container {
        margin: 40px auto;
        text-align: center;
        text-transform: uppercase;
    }

    .section2-content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 40px auto;
    }

    .image-content-container {
        width: 90%;
        height: auto;
    }

    .section2-text-container {
        width: 100%;
        max-width: 800px;
        margin-left: 0;
    }

    .section2-header {
        font-size: 4.2rem;
    }

    .section2-sub-header {
        font-size: 2.4rem;
    }

    .section2-name-text {
        font-size: 3.6rem;
    }

    .section2-des-text {
        font-size: 2.6rem;
    }

    .dot-separate {
        width: 85%;
    }

    .section2-career-subhead {
        margin: 0;
        font-size: 2.6rem;
    }

    .section3-box-choice {
        width: 48%;
        font-size: 2.4rem;
        padding: 10px;
    }

    .section3-box {
        padding: 20px;
    }

    .section3-box-title {
        font-size: 1.8rem;
    }

    .section3-box-text {
        font-size: 2.2rem;
    }

    .separate-line{
        width: 100%;
    }

    .card-item {
        width: 70%;
    }

    .margin-input{
        margin-top: 1rem !important;
    }

    .benefit-container {
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .image-container-section2-box{
        display: none;
    }

    .margin-top-benefit {
        margin-top: 25px;
    }
}

@media (max-width: 1024px) {
    .benefit-container {
        width: 45%; /* Giảm kích thước trên tablet */
    }
}

/* Điện thoại lớn (576px - 767px) */
@media (max-width: 767.98px) {
    .section1-container {
        justify-content: center;
        text-align: center;
    }

    .text-container {
        text-align: center;
        border-right: none;
        padding-right: 0;
    }

    .header-text {
        font-size: 4rem;
    }

    .content-text {
        font-size: 2rem;
    }

    .section2-header {
        font-size: 3.8rem;
    }

    .section2-sub-header {
        font-size: 2.2rem;
    }

    .section2-name-text {
        font-size: 2.0rem;
    }

    .section2-des-text {
        font-size: 1.4rem; /* Đảm bảo dễ đọc */
        text-align: center;
    }

    .section2-des-text-no-margin {
        font-size: 1.4rem; /* Đảm bảo dễ đọc */
        text-align: center; 
    }

    .career-box {
        font-size: 2.0rem;
    }

    .section2-career-subhead {
        font-size: 2.4rem;
    }

    .dot-separate {
        width: 90%;
    }

    .section3-header {
        font-size: 3.6rem;
    }

    .section3-sub-header {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .section3-box-choice {
        width: 100%;
        font-size: 2.2rem;
        padding: 10px;
    }

    .section3-box {
        padding: 15px;
    }

    .section3-box-title {
        font-size: 1.8rem;
    }

    .section3-box-text {
        font-size: 2rem;
    }

    .section3-box-img {
        width: 80%;
    }

    .section4-box {
        flex-direction: column;
        text-align: center;
    }

    .section4-text {
        font-size: 2rem;
        padding: 10px;
    }

    .section4-button {
        margin-top: 15px;
        font-size: 1.6rem;
    }

    .fifth-section .row {
        flex-direction: column;
        align-items: center;
    }

    .card-item {
        width: 90%;
    }

    .input-register,
    .textarea-register {
        font-size: 1.4rem;
        padding: 10px;
    }

    .btn-register {
        font-size: 1.4rem;
        padding: 0.8rem 1.8rem;
    }

    .benefit-container {
        width: 90%; /* Trải rộng trên thiết bị nhỏ */
        margin-bottom: 30px;
    }

    .benefit-name-text {
        font-size: 2rem; /* Giảm kích thước chữ */
    }

    .benefit-container img {
        width: 100%; /* Ảnh tự điều chỉnh kích thước */
        height: auto;
    }

    .box-background {
        padding: 6px; /* Giảm padding hơn để không chiếm quá nhiều diện tích */
        border-radius: 3px; /* Làm gọn góc bo tròn */
    }
}

/* Điện thoại nhỏ (dưới 576px) */
@media (max-width: 575.98px) {
    .header-text {
        font-size: 3rem;
    }

    .content-text {
        font-size: 1.6rem;
    }

    .section2-header {
        font-size: 2.6rem;
    }

    .section2-sub-header {
        font-size: 2rem;
    }

    .section2-name-text {
        margin-top: 20px;
        font-size: 2.0rem;
    }

    .section2-career-subhead {
        font-size: 2.2rem;
    }

    .dot-separate {
        margin: 0;
        width: 100%;
    }
    .separate-line{
        width: 100%;
    }

    .section4-text {
        font-size: 1.8rem;
    }

    .card-icon {
        font-size: 3rem;
    }

    .card-item-header {
        font-size: 2rem;
    }

    .card-item-text {
        font-size: 1.4rem;
    }

    .input-register,
    .textarea-register {
        font-size: 1.2rem;
    }

    .btn-register {
        font-size: 1.2rem;
        padding: 0.6rem 1.5rem;
    }

    .benefit-name-text {
        font-size: 1.8rem;
    }

    .benefit-container {
        width: 100%;
    }

    .section2-des-text {
        font-size: 1.2rem;
    }

    .box-background {
        padding: 0px 10px;
    }
}

