.main-container{
    min-height: 100vh;
    width: 100%;
    height: fit-content;
}

.first-section {
    background: url("../Images/section1-background6.gif") no-repeat fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.first-section::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index:2;
}

.item-nav {
    font-size: 2.0rem;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .item-nav.active {
        background-color: red !important;
    }

.section1-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-container {
    text-align: end;
    padding-right: 15px;
    border-right: 1px solid var(--sub-header-color);
}

.content-text {
    font-size: 3.2rem;
    color: var(--text-color);
}

.header-text {
    font-size: 6.4rem;
    color: var(--header-color);
    margin-bottom: 10px;
}

.second-section{
    display: flex;
    flex-direction: row;
}

.image-container {
    width: 30%;
    position: relative;
}

.image-fixed{
    width:100%;
    height: 100vh;
}

.section2-header-container {
    margin: 55px;
}

.section2-header {
    font-size: 4.8rem;
    color: var(--header-color);
    padding-bottom: 15px;
}

.section2-sub-header {
    font-size: 2.4rem;
    color: var(--text-color);
    padding-bottom: 45px;
}

.separate-line {
    width: 20%;
    height: 5px;
    background-color: var(--border-color);
}

.image-section2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.make-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 10;
}

.section2-content-container {
    margin: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.image-content-container {
    width: 30%;
    height: 600px;
}

.second2-container{
    width: 70%;
}

.section2-text-container {
    width: 50%;
    margin-left: 30px;
    height: fit-content;
}

.section2-subname-text {
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 30px;
    opacity:0.8;
}

.section2-name-text {
    font-size: 3.6rem;
    color: var(--text-color);
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.section2-des-text {
    font-size: 2.4rem;
    color: var(--text-color);
    margin-top: 25px;
}

.name {
    color: var(--sub-header-color);
}

.dot-separate {
    border: 2px dashed var(--border-color);
    opacity: 0.8;
    margin: 55px;
    width: 50%;
}

    /*.dot-separate::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: var(--border-color);
        border-radius: 50%;
        position: absolute;
        right: 0;
        top:0;

    }*/

.section2-career-subhead {
    position: relative;
    margin-left: 55px;
    font-size: 2.4rem;
    font-weight: bold;
}

.career-box {
    background-color: var(--sub-header-color);
    padding: 10px;
    border: 1px solid var(--sub-header-color);
    border-radius: 10px;
}

.list-item {
    font-size: 2.4rem;
    list-style-type: none;
    color: var(--text-color);
}

.icon-list {
    color: red;
    padding-right: 5px;
}

.third-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3-header {
    font-size: 4.8rem;
    color: var(--header-color);
    padding-bottom: 20px;
}

.section3-sub-header {
    font-size: 2.4rem;
    color: var(--sub-header-color);
    padding-bottom: 20px;
}

.stop-image {
    position: absolute;
    top: auto; /* Không cố định top */
    bottom: 55px; /* Để tránh mất layout */
    right: 0;
    height: 100vh;
}

.section3-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: 2px dashed var(--sub-header-color);
    border-radius: 10px
}

.section3-box-title {
    font-size: 3.2rem;
    color: var(--text-color);
    font-weight: bolder;
}

.section3-box-text {
    font-size: 2.4rem;
    color: var(--text-color);
}

.section3-box-img {
    width: 60%;
    object-fit: cover;
}

.section3-box-choice {
    width: 100%;
    border: 1px solid var(--sub-header-color);
    padding: 10px;
    text-align: center;
    font-size: 3.2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

    .section3-box-choice:hover {
        border: dashed;
    }

.section4-box {
    display: flex;
    margin-top: 20px;
    background-color: orangered;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.section4-text {
    margin: 0;
    font-style:italic;
    padding-left: 15px;
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: bolder;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.section4-button {
    padding: 5px 25px;
    font-style: italic;
    background-color: #ff5733;
    color: var(--text-color);
    font-size: 1.8rem;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
    animation: pulse 1.2s infinite; /* Áp dụng hiệu ứng nhấp nháy */
}

.card-item {
    height: 300px;
    background-color: var(--card-item-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forth-section{
    margin-top: 15px;
}

.fifth-section {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-icon{
    font-size: 4.8rem;
    padding-bottom: 20px;
}

.card-item-header{
    font-size: 3.2rem;
    font-style: italic;
}

.card-item-text {
    text-align: center;
    font-size: 1.8rem;
}
