:root {
    --main-color: #121212;
    --header-color: #FFD700;
    --sub-header-color: #D32F2F;
    --text-color: #E0E0E0;
    --border-color: #BDBDBD;
    --button-color: #00BFA5;
    --card-item-color: #F8F8F8;
}

*{
    box-sizing: inherit;
}
html{
    font-size: 62.5% !important;
    line-height: 1.6rem !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    margin: 0;
    overflow-x: hidden;
}
